<iframe id="player" width="640" height="390"
src="https://www.youtube.com/embed/<%= @random_video_id %>?autoplay=1&loop=1">
</iframe>

<a href="?q=boombap">Boombap</a>
<a href="?q=trap">Trap</a>
<a href="?q=drill">Drill</a>
<a href="?q=lofi">Lofi</a>
<a href="?q=grime">Grime</a>
<a href="?q=jazz_rap">Jazz Rap</a>

<h3><%= @rand_word %></h3>

<div class="word-wrapper">
  <% @rhyming_words.each do |word| %>
    <p class="word"><%= word %></p>
  <% end %>
</div>
